$animation-duration: 0.3s;
#next_project_popup {
  pointer-events: none;
  will-change: height;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity $animation-duration ease-in-out;
  transition-property: background-color opacity;
  // linear gradient form top to bottom
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    var(--gradientColor) 100%
  );
  color: #fff;
  text-shadow: 0 0 1em #232323, 0 0 0.2em #232323;
  .popup_chevron {
    margin-top: 1em;
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0.6;
    &.reached {
      opacity: 1;
      color: rgb(141, 225, 76, 1);
    }
    color: #000;
  }
  &.dark {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      var(--gradientColor) 100%
    );
    .popup_chevron {
      color: #fff;
      &.reached {
        opacity: 1;
        color: rgb(141, 225, 76, 1);
      }
    }
  }
  .next_project_title {
    transition: color $animation-duration ease-in-out;
  }
  .image {
    max-width: 150px;
    max-height: 100px;
    object-fit: contain;
    margin-top: 0.5em;
    border-radius: 6px;
  }
}
