$max-width: 1300px;
$box-shadow-standart: 0px 0px 12px rgba(0, 0, 0, 0.25);
$box-shadow-small: 0px 0px 4px rgba(0, 0, 0, 0.25);
$mobile: 630px;
$tablet: 900px;

.about_page {
  overflow-x: hidden;
  background-color: #fff;
  font-size: 16px;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 1em;
  @media screen and (max-width: $tablet) {
    padding-bottom: calc($navbar-height + 1em);
  }

  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
    text-rendering: optimizeLegibility;
    white-space: pre-wrap;
  }
  p {
    font-family: golos;
  }
  .greetings {
    width: 100%;
    height: 12em;
    max-width: $max-width;
    margin-top: 6em;
    display: flex;
    position: relative;
    padding-left: 2em;
    .body {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-right: 19em;
      .button_group {
        flex: 1;
        align-items: center;
        display: flex;
        gap: 1em;
        z-index: 2;
        .shadow {
          box-shadow: $box-shadow-standart;
          border-radius: 15px;
          height: min-content;
          // &:hover:not(:active) {
          //   transform: translate(-0.25em, -0.25em);
          // }
        }
        .link {
          height: 52px;
          width: 150px;
          display: flex;
          box-sizing: border-box;
          justify-content: space-between;
          align-items: center;
          transition: all 0.1s ease-out;
          color: #000;
          padding: 0.5em 1em;
          text-align: left;
          outline: none;
          border: none;
          font-size: 0.8em;
          background-color: #fff;
          border-radius: 15px;
          overflow: visible;
          text-transform: uppercase;
          text-decoration: none;
          p {
            width: min-content;
          }
          &:hover {
            color: #fff;
            border: solid 1px #000;
            background-color: $about-theme;
          }
          &:hover:not(:active) {
            transform: translate(-0.25em, -0.25em);
            box-shadow: 0.25em 0.25em #000;
          }
          &.github {
            background-color: #000;
            color: #fff;
            flex-direction: row-reverse;
            &:hover {
              background-color: #fff;
              color: #000;
            }
          }
        }
      }
    }
    .img_container {
      padding: 0 2em;
      justify-content: flex-end;
      left: 0;
      position: absolute;
      width: 100%;
      display: flex;
      img {
        width: 17em;
        border-radius: 15px;
        box-shadow: $box-shadow-standart;
        height: auto;
        object-fit: cover;
      }
    }
    @media screen and (max-width: $tablet) and (min-width: $mobile) {
      height: 16em;
      .body {
        .button_group {
          flex-direction: column;
          align-items: start;
          margin-top: 1em;
        }
      }
    }
    @media screen and (max-width: $mobile) {
      height: auto;
      margin: 2em 0;
      padding: 0 1em;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 2em;
      .body {
        display: grid;
        grid-template-rows: 1fr auto;
        padding-right: 0;
        gap: 1em;
        h1 {
          font-size: 1.7em;
        }
        .button_group {
          margin-top: 0.5em;
          width: 100%;
          .shadow {
            width: 100%;
          }
          .link {
            width: auto;
          }
        }
      }
      .img_container {
        justify-content: center;
        position: relative;
        padding: 0;
        img {
          width: 14em;
        }
      }
    }
  }
  .about {
    display: flex;
    width: 100%;
    background-color: $about-theme;
    color: #fff;
    min-height: 22em;
    .content {
      width: 100%;
      margin: 0 auto;
      max-width: $max-width;
      display: flex;
      padding: 1em 20em 8.5em 2em;
      .body {
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 1em;
        max-width: 44em;
        p {
          font-size: 1.4em;
        }
      }
    }
    @media screen and (max-width: $mobile) {
      min-height: 18em;
      .content {
        min-height: none;
        padding: 1em 1em 8em 1em;
        h1 {
          font-size: 1.6em;
        }
        .body p {
          font-size: 1.2em;
        }
      }
    }
  }
  .skills {
    margin-top: -6em;
    padding: 0 2em;
    display: flex;
    width: 100%;
    max-width: $max-width;
    .grid {
      color: $box-theme;
      width: 100%;
      background-color: #ffffffbf;
      border-radius: 15px;
      backdrop-filter: blur(8px);
      box-shadow: $box-shadow-standart;
      display: grid;
      grid-template-columns: 1fr auto 1fr auto 1fr;
      grid-template-areas: "education sep1 languages sep2 stack";
      .category {
        flex: 1;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
        .title {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-weight: 700;
          gap: 0.5em;
        }
        &.education {
          grid-area: education;
          .cards {
            display: flex;
            flex-direction: column;
            gap: 1em;
          }
          .card {
            display: flex;
            align-items: center;
            gap: 0.5em;
            .body {
              width: fit-content;
              h3,
              p {
                white-space: pre-line;
                line-height: 1.1em;
                // second h3
              }
            }
            span {
              white-space: pre-line;
              font-family: golos;
              color: #00000099;
            }

            .horizontal_sep {
              flex: 1;
              height: 1px;
              background-color: #000;
              opacity: 0.16;
              min-width: 0.5em;
              width: 100%;
            }
            .year {
              white-space: pre-line;
              text-align: center;
              color: $about-theme;
              // line-height: 90%;
            }
          }
        }
        &.languages {
          grid-area: languages;
          .languages__group {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            .languages_title {
              color: $about-theme;
            }
            .language {
              display: flex;
              align-items: center;
              gap: 0.25em;
              box-shadow: $box-shadow-small;
              border-radius: 8px;
              padding: 0.25em;
              .separator {
                flex: 1;
                height: 1px;
              }
              p {
                font-size: 1em;
              }
            }
            .programming {
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
              gap: 0.5em;
              .programming__item {
                display: flex;
                align-items: center;
                gap: 0.25em;
                box-shadow: $box-shadow-small;
                border-radius: 8px;
                padding: 0.25em;
                p {
                  font-size: 1em;
                }
              }
            }
          }
        }
        &.stack {
          grid-area: stack;
        }
      }
      .separator {
        width: 1px;
        background-color: #000;
        opacity: 0.16;
        &.sep1 {
          grid-area: "sep1";
        }
        &.sep2 {
          grid-area: "sep2";
        }
      }
      @media screen and (max-width: $tablet) and (min-width: $mobile) {
        grid-template-areas: "education sep1 languages" "sep2 sep2 sep2" "stack stack stack";
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr 1px auto;
        .sep2 {
          width: 200%;
          height: 1px;
        }
      }
    }
    @media screen and (max-width: $mobile) {
      padding: 0 1em;
      .grid {
        grid-template-areas: "education" "sep1" "languages" "sep2" "stack";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1px auto 1px auto;
        .sep1,
        .sep2 {
          width: 100%;
          height: 1px;
        }
      }
    }
  }
  @media screen and (max-width: $mobile) {
    // font-size: 14px;
  }
}
