$animation-duration: 0.3s;

.new_projects_page {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $projects-theme;
  transition: background $animation-duration ease-in-out;
  .projects_nav {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    background-color: #ffffff80;
    border-bottom: 2px solid #ffffff60;
    transition: background $animation-duration ease-in-out,
      border $animation-duration ease-in-out,
      color $animation-duration ease-in-out;
    overflow: hidden;
    .swiper {
      cursor: pointer;
      &:active,
      &:focus {
        cursor: grabbing;
      }
      user-select: none;
      overflow: visible;
    }
    .project {
      height: 8.25em;
      display: flex;
      box-sizing: border-box;
      padding: 0.5em;
      border-radius: 8px;
      max-width: 366px;
      min-width: 366px;
      gap: 0.5em;
      box-shadow: $box-shadow-small;
      .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        .heading {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h2 {
            font-size: 1em;
            line-height: 1em;
          }
          svg {
            transition: all $animation-duration ease-in-out;
          }
        }
        p {
          font-size: 0.875em;
          line-height: 1.1em;
          font-weight: 300;
        }
        .bottom {
          display: flex;
          margin-top: auto;
          svg {
            width: 1.25em;
            height: 1.25em;
            margin-right: 0.25em;
            &:last-child {
              margin-right: 0;
              margin-left: auto;
            }
          }
        }
      }
      .image {
        display: contents;
        img {
          border-radius: 8px;
          max-width: 200px;
          height: 100%;
          object-fit: contain;
        }
      }
      &:hover {
        .heading svg {
          color: $projects-theme;
          scale: 1.2;
          transform: translateX(0.1em);
        }
      }
    }
  }
  &.dark {
    .projects_nav {
      background-color: #00000050;
      border-bottom: 2px solid #ffffff20;
      .project {
        background-color: #ffffff20;
      }
    }
  }
  .active_project {
    display: flex;
    margin-bottom: $navbar-height;
    flex: 1;
    align-items: center;
    p {
      font-weight: 500;
      font-family: golos;
      font-size: 1.2em;
    }
    h3 {
      transition: color $animation-duration ease-in-out;
    }
    .active_container {
      margin: 0 auto;
      flex: 1;
      display: grid;
      max-width: 1400px;
      padding: 0 1em;
      padding-bottom: 1em;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "header header"
        "image body"
        "info info"
        "hint hint";
      .header {
        grid-area: header;
        height: 2em;
        h2 {
          font-size: 1.5em;
        }
      }
      .image {
        min-width: 0;
        height: 100%;
        align-items: baseline;
        object-fit: cover;
        min-height: 450px;
        display: flex;
        grid-area: image;
        max-height: 450px;
        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
          border-radius: 8px;
          box-shadow: $box-shadow-standart;
          transition: all $animation-duration ease-in-out;
          z-index: 2;
          cursor: pointer;
          user-select: none;
          @media screen and (min-width: $layout-breakpoint-small) {
            // on press scale image to see better (desktop only)
            &:active {
              transform: translateX(25%);
              scale: 1.8;
            }
          }
        }
      }
      .body {
        margin-left: 1em;
        grid-area: body;
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: 450px;
        transition: color $animation-duration ease-in-out;
        .shots {
          user-select: none;
          cursor: grab;
          &:active,
          &:focus {
            cursor: grabbing;
          }
          margin-top: 0.25em;
          overflow: hidden;
          height: 140px;
          min-height: 140px;
          width: 100%;
          .swiper {
            height: 140px;
            padding: 0 0.25em; // for box shadow
          }
          .shot {
            margin-top: 0.5em;
            margin-right: 0.5em;
            max-width: 170px;
            height: 130px;
            display: flex;
            flex-direction: column;
            box-shadow: $box-shadow-small;
            border-radius: 8px;
            overflow: hidden;
            animation: appear calc(var(--index) * 0.25s + 0.25s) ease-in-out;
            @keyframes appear {
              from {
                opacity: 0;
                translate: 0.5em;
              }
              to {
                opacity: 1;
                translate: 0;
              }
            }
            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 0;
              background-color: $projects-theme;
              transition: height 0.25s ease-in-out;
            }
            &.active {
              &::after {
                box-shadow: $box-shadow-small;
                height: 4px;
              }
            }
          }
        }
        .description {
          flex: 1;
          margin-top: 1em;
          display: flex;
          flex-direction: column;
          .description-body {
            overflow: hidden;
            margin-top: 0.5em;
            p {
              white-space: pre-wrap;
            }
          }
        }
        h3 {
          color: #00000099;
          line-height: 1em;
        }
      }
      .info {
        height: 10em;
        margin-top: 2em;
        grid-area: info;
        .info-container {
          display: flex;
          justify-content: space-between;
          height: 100%;
        }
        h3 {
          color: #00000099;
          margin-bottom: 0.5em;
        }
        p {
          white-space: pre-wrap;
        }
        .separator {
          transition: all $animation-duration ease-out;
        }
        .links {
          display: flex;
          flex-direction: column;
          a {
            color: $projects-theme;
            transition: color $animation-duration linear;
            text-decoration: none;
            font-size: 1.2em;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .info-item {
          transition: transform calc($animation-duration)
              calc(var(--index) * 0.1s + 0.1s) ease-out,
            opacity calc($animation-duration) calc(var(--index) * 0.1s + 0.1s)
              ease-out,
            color $animation-duration ease-in-out;
        }
        .separator {
          margin: 0 0.5em;
          height: 100%;
          width: 1px;
          background-color: #00000020;
        }
      }
      .hint {
        display: none;
        text-align: center;
        margin-top: 2em;
        color: #00000050    
      }
    }
  }
  &.dark {
    color: #fff;
    .active_project {
      .body,
      .info {
        h3 {
          color: #ffffff99;
        }
        .separator {
          background-color: #ffffff60;
        }
        .links a {
          color: #40f4ff;
        }
      }
      .hint {
        color: #ffffff99;
      }
    }
  }
  .previous_project {
    display: none;
    padding-top: 1em;
    padding-left: 1em;
    align-items: center;
    gap: 0.4em;
    svg {
      transition: color $animation-duration ease-in-out;
      width: 1.4em;
      height: 1.4em;
    }
  }
}

@media screen and (min-width: $layout-breakpoint-small) {
  .new_projects_page {
    .projects_nav {
      padding-left: 72px;
    }
  }
}
@media screen and (max-width: $layout-breakpoint-small) {
  .new_projects_page {
    .previous_project {
      display: flex;
    }
    .projects_nav {
      display: none;
    }
    .projects_nav .project {
      min-width: 100%;
      max-width: 100%;
    }
    .active_project {
      align-items: start;
      margin-top: 1em;
      width: 100%;
      overflow-x: hidden;
      .active_container {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .image {
          display: none;
        }
        .body {
          max-height: none;
          margin-left: 0;
          width: 100%;
          h3 {
            display: none;
          }
          .shots {
            height: fit-content;
            overflow: visible;
            .swiper {
              overflow: visible;
              height: fit-content;
              padding: 0;
            }
            .shot {
              margin-top: 0;
              height: auto;
              max-width: 100%;
              &::after {
                display: none;
              }
              &:last-child {
                margin-right: 0;
              }
            }
          }
          .description {
            margin-top: 0.5em;
          }
        }
        .info {
          margin-top: 1em;
          height: fit-content;
          .info-container {
            // adaptive grid
            display: grid;
            gap: 0.5em;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            .separator {
              display: none;
            }
          }
          h3 {
            margin-bottom: 0.25em;
          }
        }
        .hint {
          display: block;
        }
      }
    }
  }
}

.slide-bottom-enter-active,
.slide-bottom-exit-active {
  transition: transform $animation-duration ease-in-out,
    opacity $animation-duration ease-in-out;
}
.slide-bottom-enter,
.slide-bottom-exit-to {
  transform: translateY(-50%);
  opacity: 0;
}

.img-opacity-enter-active,
.img-opacity-exit-active {
  transition: opacity calc($animation-duration / 2) ease-in-out;
}
.img-opacity-enter,
.img-opacity-exit-to {
  opacity: 0;
}

.description-slide-exit-active {
  transition: opacity $animation-duration ease-in-out;
}

.description-slide-enter-active {
  transition: opacity $animation-duration 0.25s ease-out;
}

.description-slide-enter,
.description-slide-exit-to {
  // transform: translateY(-120%);
  opacity: 0;
}

.info-slide-enter-active {
  transition: transform calc($animation-duration / 2) ease-out,
    opacity calc($animation-duration / 2) ease-out;
  .info-item {
    transition: transform calc($animation-duration)
        calc(var(--index) * 0.1s + 0.1s) ease-out,
      opacity calc($animation-duration) calc(var(--index) * 0.1s + 0.1s)
        ease-out;
  }
}

.info-slide-exit-active {
  transition: transform $animation-duration ease-in-out,
    opacity $animation-duration ease-in-out;
}

.info-slide-enter {
  .separator {
    opacity: 0;
  }
  .info-item {
    opacity: 0;
    transform: translateX(5px) translateY(5px);
  }
}

.info-slide-exit-to {
  opacity: 0;
  transform: translateY(10%);
}
