@import './variables.scss';

.about_page {
  font-size: 1.6vw;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  background-color: $about-theme;
  display: flex;
  justify-content: center;
  padding-bottom: 4em;
  .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: $about-theme;
    animation: appear 1s;
    opacity: 0;
  }
  .about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $layout-content-max-width;
    width: 80%;
    color: #fff;
    gap: 2em;
    h1 {
      margin-top: 0.5em;
      text-transform: uppercase;
      font-size: 3.5em;
    }
    h2 {
      font-size: 2em;
    }
    .about__general {
      display: grid;
      grid-template-areas: "title image" "content image";
      grid-template-rows: auto 1fr;
      gap: 1em;
      width: 100%;
      img {
        grid-area: image;
        border-radius: 1em;
        height: 30em;
        justify-self: flex-end;
      }
      h4 {
        font-size: 1.3em;
      }
      h3 {
        margin-top: 1em;
        font-size: 1.8em;
      }
      .general_title {
        grid-area: title;
      }
      .general_content {
        grid-area: content;
        width: 100%;
        button {
          margin-top: 1em;
          min-width: 12em;
          font-size: 1.3em;
        }
      }
    }
    .about__education {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 1em;
      justify-content: center;
      .education_item {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        background-color: #fff;
        color: #242424;
        padding: 1em 1em;
        border-radius: 1em;
        gap: 1em;
        .education_date {
          width: 4em;
          h3 {
            text-align: center;
            font-size: 1.3em;
          }
        }
        h2 {
          font-size: 1.5em;
        }
        .education_content {
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: flex-end;
          text-align: end;
        }
      }
    }
    .about__languages {
      display: flex;
      width: 100%;
      flex-direction: column;
      .languages_wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        padding-top: 1em;
        h2 {
          background-color: #fff;
          color: #242424;
          padding: 0.5em 1em;
          border-radius: 0.5em;
          font-size: 1.8em;
          text-transform: uppercase;
        }
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (min-width: $layout-breakpoint-big) {
  .about_page {
    font-size: $layout-breakpoint-font-size;
  }
}
@media screen and (max-width: $layout-breakpoint-small) {
  .about_page {
    font-size: $layout-breakpoint-font-size;
    .about__content {
      width: 95%;
      .about__general {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "title image" "content content";
        img {
          width: 100%;
          height: auto;
          justify-self: flex-start;
        }
        .general_content {
          display: flex;
          flex-direction: column;
          h3 {
            margin-top: 0;
            font-size: 1.4em;
          }
          button {
            border-radius: 0.75em;
          }
        }
      }
      .about__education {
        .education_item {
          padding: 1em 0.5em;
          .education_date {
            width: auto;
            h3 {
              font-size: 1em;
            }
          }
          .education_content {
            h2 {
              font-size: 1.2em;
            }
          }
        }
      }
    .about__languages {
      .languages_wrapper {
        h2 {
          font-size: 1.2em;
        }
      }
    }
  }
  }
}