@import './variables.scss';

$box-color-right: linear-gradient(0deg,  #C64453 0,  #C64453 33%, #4A68D2 33%, #4A68D2 66%,  #CB9924 66%,  #CB9924 100%);
$box-color-front: linear-gradient(0deg,  $contacts-theme 0,  $contacts-theme 33%, $projects-theme 33%, $projects-theme 66%,  $about-theme 66%,  $about-theme 100%);
$box-text-color: #fff;
$box-side-bg-color: #221D41;

.mouse_catcher {
  position: absolute;
  width: 50em;
  height: 70em;
}
.box_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
	top: 0;
	right: 0;
  bottom: 0;
	left: 0;
  text-transform: uppercase;
  color: $box-text-color;

  .about, .projects, .contacts {
    color: $box-text-color;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    text-decoration: none;
    z-index: 2;
  }
  h2 {
    z-index: 2;
    user-select: none;
  }
  //positioning
  .box {
    transform: rotateX(-35deg) rotateY(-45deg);
    // transform: rotateX(-35deg) rotateY(10deg);
    position: relative;
    width: 30rem;
    height: 30rem;
    transform-style: preserve-3d;
    z-index: 100;
    animation: cube_intro 2s ease-out, cube_breathe 8s 2s ease-in-out infinite;
    // animation: cube_vibing 4s linear infinite;
    .left, .right, .top, .back, .front, .bottom {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
    }
    .bottom {
      transform: rotateX(90deg) translateZ(-15em);
    }
    .left {
      transform: rotateY(-90deg) translateZ(15rem);
    }
    .top_holder {
      transform-style: preserve-3d;
      transform: rotateX(90deg) translateZ(15rem);
      width: 30rem;
      height: 30rem;
      align-items: center;
    }
    // .top {
    //   transform: rotateX(90deg) translateZ(15rem);
    //   width: 30rem;
    //   height: 30rem;
    //   align-items: center;
    // }
    .front {
      transform: translateZ(15rem);
      flex-direction: column;
    }
    .back {
      transform: translateZ(-15rem);
      flex-direction: column;
    }
    .right {
      transform: rotateY(90deg) translateZ(15rem);
      flex-direction: column;
      width: 30rem;
      height: 30rem;
    }
  }
  
  //styling
  background-color: #000;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  
  .right {
    cursor: pointer;
    background: $box-color-right;
  }
  .front {
    cursor: pointer;
    background: $box-color-front;
  }
  .box {
    h2 {
      transition: opacity 0.3s ease-in-out;
    }
    .right {
      h2 {
        font-size: 4.5rem;
        padding-left: 1rem;
      }
    }
    // picture is actually needed to hide border bug
    .left {
      background: no-repeat url(../assets/face.jpg);
      background-size: cover;
    }
    .top {
      background-color: $box-side-bg-color;
      align-items: flex-start;
      flex-direction: column;
    }
    .front {
      width: 100%;
      h2 {
          font-size: 4.5rem;
          padding-right: 1rem;
      }
    }
    &.variant1 {
      .front {
        .about, .projects, .contacts {
          justify-content: flex-end;
        }
        h2 {
          padding-right: 1rem;
        }
      }
      .top {
        font-size: 4.5rem;
        line-height: 6rem;
        h2 {
          position: absolute;
          width: 100%;
          &:first-child {
            top: 11.8rem;
            right: 1.4rem;
            text-align: end;
            letter-spacing: -0.14rem;
            span {
              letter-spacing: -0.3rem;
            }
          }
          &:last-child {
            letter-spacing: 0.15rem;
            left: 1.4rem;
            top: 5.8rem;
            span {
              letter-spacing: -0.55rem;
            }
          }
        }
      }
    }
    &.variant2 {
      .front {
        .about, .projects, .contacts {
          justify-content: flex-start;
        }
        h2 {
          padding-left: 1rem;
        }
      }
      .top {
        font-size: 4rem;
        h2 {
          position: absolute;
          line-height: 5rem;
          &:first-child {
            right: -6rem;
            top: 7.35rem;
            transform: rotate(-90deg);
            text-align: end;
            letter-spacing: -0.17rem;
          }
          &:last-child {
            bottom: 1rem;
            left: 0.5rem;
          }
        }
      }
      .right {
        h2 {
          width: 100%;
          text-align: end;
          padding-right: 1rem;
        }
      }
    }
  }
}

// hover
.front:after,
.top:after,
.right:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
}
.fill_contacts {
  .box_opened,
  .bottom,
  .back,
  .front:after,
  .top:after,
  .right:after {
    background: $contacts-theme;
    opacity: 1;
  }
  h2 {
    opacity: 0;
  }
  .top h2,
  .contacts h2 {
    opacity: 1;
  }
}
.fill_about {
  .box_opened,
  .bottom,
  .back,
  .front:after,
  .top:after,
  .right:after {
    background: $about-theme;
    opacity: 1;
  }
  h2 {
    opacity: 0;
  }
  .top h2,
  .about h2 {
    opacity: 1;
  }
}
.fill_projects {
  .box_opened,
  .bottom,
  .back,
  .front:after,
  .top:after,
  .right:after {
    background: $projects-theme;
    opacity: 1;
  }
  h2 {
    opacity: 0;
  }
  .top h2,
  .projects h2 {
    opacity: 1;
  }
}
.box_open {
  .top {
    transform-origin: top;
    animation: cube_open 1s ease-in-out;
    transform: rotateX(90deg);
  }
  .box {
    animation: cube_open_camera_rotate 2s ease-in-out;
    transform: rotateX(-90deg);
  }
  .box_opened {
    position: absolute;
    animation: fill_screen 1s 2s;
  }
}
@keyframes fill_screen {
  0% {
    width: 30em;
    height: 30em;
  }
  100% {
    width: 100vw;
    height: 100vh;
  }
}
@keyframes cube_vibing {
  0% {
    transform: rotateX(-35deg) rotateY(0);
  }
  100% {
    transform: rotateX(-35deg) rotateY(365deg);
  }
}
@keyframes cube_intro {
  0% {
    transform: rotateX(0) rotateY(-100deg) translateY(-100vh);
  }
  50% {
    transform: rotateX(-50deg) rotateY(-45deg) translateY(5vh);
  }
  100% {
    transform: rotateX(-35deg) rotateY(-45deg) translateY(0);
  }
}
@keyframes cube_breathe {
  0% {
    transform: rotateX(-35deg) rotateY(-45deg) translateY(0);
  }
  50% {
    transform: rotateX(-35deg) rotateY(-45deg) translateY(2em);
  }
  100% {
    transform: rotateX(-35deg) rotateY(-45deg) translateY(0);
  }
}
@keyframes cube_open_camera_rotate {
  0% {
    transform: rotateX(-35deg) rotateY(-45deg);
  }
  // delay is not working properly
  50% {
    transform: rotateX(-35deg) rotateY(-45deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
// top {} animation: cube_open 1s ease-in-out infinite;
@keyframes cube_open {
  0% {
    transform-origin: top;
    transform: rotateX(0deg);
  }
  100% {
    transform-origin: top;
    transform: rotateX(90deg);
  }
}