@import "./variables.scss";

.navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  animation: navigation_slide_in 0.5s ease-out;
  box-sizing: border-box;
  overflow: hidden;
  max-height: 80px;
  font-size: 20px;
  text-transform: uppercase;
  a {
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: left;
  border: none;
  outline: none;
  text-decoration: none;
  color: #fff;
  padding-left: 30px;
  word-wrap: normal;
  &:nth-child(1) {
    padding-left: 10px;
    opacity: 1;
    min-height: 60px;
    img {
      height: 60px;
      margin-right: 10px;
    }
    span:hover {
      &:nth-child(3n + 2) {
        color: $about-theme;
      }
      &:nth-child(3n) {
        color: $projects-theme;
      }
      &:nth-child(3n + 1) {
        color: $contacts-theme;
      }
    }
  }
  }
  &:hover {
    max-width: 1000px;
    max-height: 1000px;
    a {
      opacity: 1;
      &:nth-child(1) {
        background-color: $box-theme;
      }
      &:nth-child(2) {
        background: linear-gradient(to left, $box-theme 45%, $about-theme 0%) right;
        background-size: 200% 100%;
      }
      &:nth-child(3) {
        background: linear-gradient(to left, $box-theme 45%, $projects-theme 0%) right;
        background-size: 200% 100%;
      }
      &:nth-child(4) {
        background: linear-gradient(to left, $box-theme 45%, $contacts-theme 0%) right;
        background-size: 200% 100%;
      }
      &:hover {
        background-position: left;
      }
    }
  }
}
@keyframes navigation_slide_in {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}
.button_default {
  color: #fff;
  cursor: pointer;
  padding: 1em;
  outline: none;
  border-radius: 0;
  font-size: inherit;
  background-color: transparent;
  &:after {
    content: '';
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    border: 1px solid black;
  }
}