@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: $font-heading;
}
#root,
html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-size: 1.6vmin;
}
@media screen and (max-width: $layout-breakpoint-small) {
  html {
    font-size: 2vmin;
  }
}

.about_color {
  background-color: $about-theme;
}

.projects_color {
  background-color: $projects-theme;
}

.contacts_color {
  background-color: $contacts-theme;
}

@import "ui/buttons.scss";
@import "ui/box.scss";
@import "ui/inputs.scss";
@import "ui/mask.scss";

@import "pages/about.scss";
@import "pages/contacts.scss";
@import "pages/projects.scss";
