$contacts-input-hover-color: #DD4052;
$input-placeholder-color: #f1f1f1;
$input-color: #fff;

.input_default,
.textarea_default {
  transition: background-color 0.2s ease-in-out;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  padding: 0.5em;
  outline: none;
  font-size: inherit;
  color: $input-color;
  &::placeholder {
    color: $input-placeholder-color;
    opacity: 0.5;
  }
  &:hover:not(:focus)::placeholder {
    opacity: 1;
  }
}
.textarea_default {
  resize: none;
}
