@import './variables.scss';
$cambridge-bg-color: #303030;
$cambridge-text-color: #FABC2A;
$tb-bg-color: #212121;

.projects_page {
  font-size: 1.6vw;
  min-height: 100vh;
  width: 100%;
  background-color: $projects-theme;
  color: $projects-text-color;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 4em;
  h3 {
    font-size: 1.8em;
  }
  a {
    color: $href-color;
    text-decoration: none;
  }
  .projects_page__container {
    max-width: $layout-breakpoint-big;
    margin: 0 auto;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .projects__title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-transform: uppercase;
      .projects__title_col {
        display: flex;
        flex-direction: column;
        h2 {
          position: relative;
          text-align: end;
          &:nth-of-type(1) {
            top: 0.35em;
            font-size: 3.15em;
            color: $skills-theme;
            text-shadow: -0.05em 0 0 $contacts-theme;
          }
          &:nth-of-type(2) {
            bottom: 0.1em;
            font-size: 3.7em;
            text-shadow: 0.05em 0 0 $contacts-theme;
          }
        }
      }
      h1 {
        letter-spacing: -0.04em;
        text-shadow: 0.04em 0.02em 0 $contacts-theme;
        font-size: 7em;
      }
    }
    .cambridge {
      display: flex;
      flex-direction: column;
      gap: 2em;
      .cambridge__block1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: $cambridge-bg-color;
        border-radius: 1em;
        box-sizing: border-box;
        padding: 0 0.5em;
        .cambridge__block1_socials {
          margin-top: 0.2em;
          display: flex;
          gap: 0.5em;
          img {
            height: 2em;
            width: 2em;
          }
        }
        .cambridge__block1_content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0.5em 0;
          h1 {
            color: $cambridge-text-color;
            font-size: 2.3em;
          }
          .cambridge__block1_body {
            display: flex;
          }
        }
        img {
          justify-self: flex-end;
          align-self: center;
          width: 100%;
        }
      }
      .cambridge__block2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 0 0 0 1em;
        img {
          border-radius: 1em;
          background-color: $cambridge-bg-color;
          width: 100%;
        }
        .cambridge__block2_content {
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          .cambridge__block2_holder {
            display: flex;
            gap: 1.5em;
            .cambridge__block2_sep {
              border-radius: 1em;
              width: 2em;
              height: 9.19em;
              background-color: $cambridge-bg-color;
            }
            h3 {
              height: 100%;
              span {
                text-transform: uppercase;
                color: $cambridge-text-color;
              }
              &:first-child {
                text-align: end;
              }
            }
          }
        }
      }
      .cambridge__block3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        img {
          width: 100%;
          border-radius: 1em;
        }
        .cambridge__block3_content {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 0.5em;
          box-sizing: border-box;
          h3 {
            span {
              color: $cambridge-text-color;
            }
          }
        }
      }
    }
    .tb {
      margin-top: 4em;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2em;
      .tb__logo {
        height: 5em;
        margin: 0 auto;
        img {
          height: 100%;
        }
      }
      .tb__block1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        padding: 0 0.5em;
        box-sizing: border-box;
        background-color: $tb-bg-color;
        border-radius: 1em;
        overflow: hidden;
        img {
          width: 100%;
        }
        .tb__block1_content {
          display: flex;
          justify-content: center;
          flex-direction: column;
          .tb__block1_socials img {
            margin-top: 0.5em;
            height: 3em;
            width: 3em;
          }
        }
      }
      .tb__block2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 30em;
        justify-content: center;
        align-items: center;
        img {
          justify-self: center;
          overflow: hidden;
          max-height: 100%;
          max-width: 100%;
        }
        .tb__block2_content {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
        }
        h3 {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: $layout-breakpoint-big) {
  .projects_page {
    font-size: 24px;
  }
}