$font-heading: 'Exo 2', sans-serif; 
$skills-theme: #FABC2A;
$projects-theme: #5376F0;
$contacts-theme: #F05365;
$projects-text-color: #fff;
$layout-breakpoint-small: 960px;
$layout-breakpoint-big: 1500px;
$href-color: #40F4FF;